@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700);
html, body, .full-screen {
  width:100%;
  height:100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Merriweather', serif;
}

#app {
  width:100%;
  height:100%;
  max-width: 1000px;
  margin:0px auto;
}
.layout-pane {

  width:50%;
  height: 100%;
  display: table;
  text-align: center;
  float: left;
  box-sizing: border-box;
  
  &:first-child .pane-inner{
    background-color: #FFF;
  }
  .pane-inner {
    background-color: #E7E9EC;
    display: table-cell;
    padding-top: 15px;
  }
}


#form, #preview {
  width:100%;
  text-align: left;
}


@media screen and (max-width:920px) {
  #preview {
    margin-top: 20px;
    padding-left: 0px;

  }
  .layout-pane {
    width:100%;
    height:50%;
    padding-bottom: 10px;
  }
  .pane-inner {
    padding-top: 0px;
  }

}

@media screen and (max-width:750px) {
  #app, .layout-pane {
    transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
  .layout-pane {
    width:100%;
    height:auto;
    padding: 4px;
    padding-bottom: 0px;
  }
  .pane-inner {
    padding-top: 0px;
  }
  #form {
    padding-left: 0px;
  }
  #preview {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0px;

    h2 {
      padding-right: 8px;
    }
  }

  .input-wrapper {
    width:100%;
    &.odd, &.even {
      padding-left:4px;
      padding-right:4px;
    }    
    .btn {
      margin-bottom: 8px;
    }
  }
}