
#preview {
	background-color: #E7E9EC;
	margin: 0px auto;
	margin-top: 95px;
	max-width: 430px;
	padding-left: 20px;
 	h2 {
		font-family: 'Merriweather Sans', sans-serif;
	    margin-bottom: 7px;
	    color: ccc;
	    font-weight: 400;
	    font-size: 16px;
	    text-align: right;
	}
	.preview-inner {
		background-color: #FFF;
	    height: 306px;
	    box-sizing: border-box;
		border-bottom:2px solid #bebebe;
	}
	.preview-header {
		height: 100px;
		width:100%;
		background:#394F63;
		display: table;
		padding: 8px;
		box-sizing: border-box;
		position: relative;
	}

	.preview-fullname {
		display: table-cell;
	    vertical-align: bottom;
	    font-size: 25px;
	    color: #FFF;
	    padding:0px 90px 11px 16px;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow:ellipsis;
	}

	.preview-image {
		width: 85px;
	    height: 105px;
	    position: absolute;
	    right: 13px;
	    bottom: -17px;
	    background-color: #FFF;
	    border: 1px solid #bebebe;
	    border-bottom: 2px solid #bebebe;
	    box-sizing: border-box;
		img {
			border:0;
			width:100%;
			height:100%;	
		}
	}
	.preview-body {
		padding: 25px;
		float: left;
	    width: 100%;
	    box-sizing: border-box;
	}

	.preview-field {
		height: 25px;
		line-height: 25px;
		border-bottom: 1px solid #E7E9EC;
		margin-bottom: 6px;
		color:#333;
		&.full-width {
			width:100%;
		}
		&.half-width {
			width:50%;
			float: left;
		}
	}
	.preview-field-label, .preview-field-value {
		display: inline-block;
	}

	.preview-field-label {
		min-width: 70px;
		text-transform: uppercase;
		color:#758E9D;
		font-size: 11px;
		font-family: 'Merriweather Sans', sans-serif;
	}
}