#form {
  
    padding-left: 18px;
    max-width: 400px;
    margin: 0px auto;
    h1 {
      font-family: 'Merriweather Sans', sans-serif;
      font-size: 30px;
      margin-bottom: 16px;
      color:#384E62;
    } 
  
  .form-section {
    margin-bottom: 10px;
    float:left;
    h2 {
      text-transform: uppercase;
      color:#ccc;
      font-size: 10px;
      border-bottom: 1px solid  #E7E9EC;
      margin-bottom: 25px;
      font-family: 'Merriweather Sans', sans-serif;
      font-weight: normal;
    } 
  }

  .input-wrapper {
   
    width:50%;
    float:left;
    box-sizing: border-box;
    margin-bottom: 2px;
   
    &.odd {
      padding-right: 10px;    
    }
   
    &.even {
      padding-left: 10px;
    }
   
    label {
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-size:12px;
      color:#758E9D;
      font-family: 'Merriweather Sans', sans-serif;
    }
   
    input {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 0px 10px;
      height:35px;
      border-radius: 5px;
      border:1px solid #ccc;
      font-size: 16px;
      margin-top: 2px;
      margin-bottom: 12px;
      font-family: 'Merriweather', serif;
      color:#333;
    }
  }
  
  .btn {
      position: relative;
      overflow: hidden;
      width: 100%;
      font-family: 'Merriweather Sans', sans-serif;
      color: #FFF;
      border: 0;
      padding: 8px;
      font-size: 20px;
      border-radius: 5px;
      margin-top: 5px;
  
      input {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
      }
  
      &.btn-upload {
        background: #758E9D;
        border-bottom: 2px solid #526773;
     }
  
     &.btn-submit {
        background: #3FA9E2;
        border-bottom: 2px solid #3094C8;
    }
  }
}